* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1f1f1;
}

header {
    background-color: #1b1b1b;
    padding: 20px;
    color: #4db8ff;
    text-align: center;
}

header nav a {
    color: #4db8ff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header input[type="text"] {
    padding: 8px;
    margin-top: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

/* .featured-nav {
    display: flex;
    overflow: hidden;
    position: relative;
} */


/* .nav-item img {
    width: 100%;
    height: 60vh;
    opacity: 0.6;
} */

.nav-item h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
}

.nav-item p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: #fff;
}

.game-gallery {
    padding: 20px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.game {
    cursor: pointer;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.game h3{
    text-align: center;
}
.game:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #4db8ff;
}

.game img {
    width: 100%;
    border-radius: 5px;
}

.recommended {
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #4db8ff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #fff;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}

.carousel-caption h5 {
    color: #fff;
}

.carousel-caption p {
    color: #ccc;
}
/* Star rating */
/* #gameModalStars {
    font-size: 1.2em;
    color: gold;
} */
/* Carousel képbeállítás */
/* .carousel-inner img {
    width: 100%;
    height: 60vh; 
    object-fit: cover; 
} */

/* Centering Carousel Content */
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 5px;
}
/* Carousel képek igazítása és kitöltése */
.carousel-item img {
    width: 100%;
    height: 60vh;
    object-fit: cover; 
}
